body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1dbdbd2;
}


.main{
     display: flex;
     align-items: center;
     height: 95%;
     width: 62%;
     background-color: #657b8b;
     border-radius: .125rem;
}

.main-1{
    background-color:#ffeedd;
    width: 30%;
    height: 37.5rem;
}

#main{
    color: #657b8b;
    padding-left: 1.875rem;
}

img{
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    margin-left: 30px;
    border: 5px solid #657b8b;
}

#name{
    color: #657b8b;
    font-size: 27px;
    font-weight: 600;
    padding-left: 27px;
    margin: 2px;
}

#developer-head{
    color: #657b8b;
    font-size: .9375rem;
    font-weight: 500;
    padding-left: 1.6875rem;
    margin: 0px;
}

hr{
    font-weight: 600;
}

#education-head{
    color: #657b8b;
    font-size: 1.375rem;
    font-weight: 600;
    padding-left: 1.6875rem;
}

#education{
    padding-left: 1.6875rem;
    color: #657b8b;
    font-size: .9375rem;
    font-weight: 500;
}

.contact-head{
    display: flex;
    flex-direction: column;
    padding-left: 1.6875rem;
    color: #657b8b;
    font-size: 1.375rem;
    font-weight: 600;
}

#Email-head{
    padding-left: 1.6875rem;
    color: #657b8b;
    font-size: .9375rem;
    font-weight: 500;
}

#email{
    padding-left: 1.6875rem;
    color: #657b8b;
    font-size: .9375rem;
    font-weight: 500;
    margin: 0px;
}


.main-2{
    background-color:#657b8b;
    width: 70%;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

#work-experience-head{
    background-color: #ffeedd;
    color:#657b8b;
    font-size: 1.375rem;
    font-weight:  600;
    margin-right: 6.25rem;
    padding: .3125rem;
}

#work-experience-para{
    color: white;
}

#interest-head{
    background-color: #ffeedd;
    color:#657b8b;
    font-size: 1.375rem;
    font-weight:  600;
    margin-right: 6.25rem;
    padding: .3125rem;
}


#interest-para{
    color: white;
}
#skills{
    background-color: #ffeedd;
    color:#657b8b;
    font-size: 1.375rem;
    font-weight:  600;
    margin-right: 15.625rem;
    padding: .3125rem;
}

#skills-ul{
    color: white; 
}

#btn{
    background-color: #ffeedd;
    color: #657b8b;
    border: none;
}

#url{
    color: white;
}

#anchor{
    color: white;
}

#anchor:hover{
    color: rgb(255, 233, 192);
}

@media (max-width:768px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1dbdbd2;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 551px;
        width: 62%;
        background-color: #657b8b;
        border-radius: .125rem;
   }
   .main-1{
    /* position: absolute; */
    background-color:#ffeedd;
    width: 80%;
   }
   #main{
    color: #657b8b;
    padding-left: 10px;
    font-size: 30px;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 30px;
    border: 5px solid #657b8b;
    
}

#name{
    color: #657b8b;
    font-size: 27px;
    font-weight: 600;
    padding-left: 27px;
    margin: 2px;
}


#developer-head{
    color: #657b8b;
    font-size: 15px;
    font-weight: 500;
    padding-left: 27px;
    margin: 0rem;
}

hr{
    font-weight: 600;
}

#education-head{
    color: #657b8b;
    font-size: 22px;
    font-weight: 600;
    padding-left: 27px;
}

#education{
    padding-left: 27px;
    color: #657b8b;
    font-size: 15px;
    font-weight: 500;
}


.contact-head{
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    color: #657b8b;
    font-size: 22px;
    font-weight: 600;
}

#Email-head{
    padding-left: 27px;
    color: #657b8b;
    font-size: 15px;
    font-weight: 500;
}

#email{
    padding-left: 27px;
    color: #657b8b;
    font-size: 15px;
    font-weight: 500;
    margin: 0rem;
}

.main-2{
    background-color:#657b8b;
    width: auto;
    height: 940px;
    display: flex;
    flex-direction: column;
    /* padding-left: 1.25rem;
    padding-right: 1.25rem; */
}

#skills{
    background-color: #ffeedd;
    color:#657b8b;
    font-size: 1.375rem;
    font-weight:  600;
    margin-right: 6.625rem;
    padding: .3125rem;
}
   
}


@media (max-width: 440px){
    .main{
        width: 90%;
   }
}